In [18]:
import pygsheets

acc_name = "sheet-testing@quantum-shard-449009-i7.iam.gserviceaccount.com"

In [19]:
gc = pygsheets.authorize(service_account_file='./client_secret.json')

# # Now you can interact with Google Sheets
# sheet = gc.open('Your Google Sheet Name')

In [20]:
sheet_name = 'testing_automation'

In [35]:
sh = gc.open(sheet_name)
try:
    print("Already present")
    spreadsheet = gc.open(sheet_name)
except pygsheets.SpreadsheetNotFound:
    print("---")
    spreadsheet = gc.create(sheet_name)

Already present

In [36]:
# Check for a specific worksheet (sheet) name and create it if not present
sheet_name = "test"
try:
    worksheet = spreadsheet.worksheet_by_title(sheet_name)
    print(f"Worksheet '{sheet_name}' already exists.")
except pygsheets.WorksheetNotFound:
    worksheet = spreadsheet.add_worksheet(sheet_name)
    print(f"Worksheet '{sheet_name}' created.")

Worksheet 'test' already exists.

In [25]:
wks.update_value('A1','42')
print('done')

done

In [37]:
import pandas as pd 

df = wks.get_as_df()
df

   user_id     name  age                email           city
0        1    Alice   25    alice@example.com       New York
1        2      Bob   30      bob@example.com    Los Angeles
2        3  Charlie   35  charlie@example.com        Chicago
3        4    Diana   28    diana@example.com  San Francisco

## Creation of DB

In [5]:
import sqlite3

# Connect to SQLite database (creates a new file if it doesn't exist)
conn = sqlite3.connect("user_info.db")

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a table for user information
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    user_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    email TEXT NOT NULL,
    city TEXT NOT NULL
)
""")

# Insert sample user data
cursor.executemany("""
INSERT INTO users (name, age, email, city)
VALUES (?, ?, ?, ?)
""", [
    # ("Alice", 25, "alice@example.com", "New York"),
    # ("Bob", 30, "bob@example.com", "Los Angeles"),
    # ("Charlie", 35, "charlie@example.com", "Chicago"),
    # ("Diana", 28, "diana@example.com", "San Francisco"),
    ("Gowtham",25,"gowtham@example.com","Coimbatore"),
    ("Sowmya",25,"sowmya@example.com","Pollachi"),

])

# Commit the changes and close the connection
conn.commit()

In [6]:
import pandas as pd

# Query the database and load data into a Pandas DataFrame
query = "SELECT * FROM users"
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the database connection
conn.close()

   user_id     name  age                email           city
0        1    Alice   25    alice@example.com       New York
1        2      Bob   30      bob@example.com    Los Angeles
2        3  Charlie   35  charlie@example.com        Chicago
3        4    Diana   28    diana@example.com  San Francisco
4        5  Gowtham   25  gowtham@example.com     Coimbatore
5        6   Sowmya   25   sowmya@example.com       Pollachi

In [30]:
wks.set_dataframe(df, (1, 1))  # Start from cell A1
print("Data successfully written to Google Sheet!")

Data successfully written to Google Sheet!